<header class="cabecalho">
    <div class="titulo">
        <h1>Conversor de Moedas</h1>
        <h4>~ by Anderson Luis ~</h4>
    </div>

    <div class="creditos">
        <a class="nav-link" href="https://www.linkedin.com/in/anderson-luis-663970325/" target="_blank">
            <span class="icon"><i class="bi bi-linkedin fs-4"></i></span>
        </a>
        <a class="nav-link" href="https://github.com/andluis35" target="_blank">
            <span class="icon"><i class="bi bi-github fs-4"></i></span>
        </a>
        <a class="nav-link" href="https://www.instagram.com/_and.oliver_/" target="_blank">
            <span class="icon"><i class="bi bi-instagram fs-4"></i></span>
        </a>
    </div>
</header>