<div class="dropdown moeda-dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle botao-moeda" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecione uma moeda
    </button>
    <ul class="dropdown-menu">

        <!-- Mais Populares -->
        <li class="divisor-dropdown">Populares</li>
        <li><a class="dropdown-item" href="#" data-currency="BRL" data-type="flag" data-icon="br"><span class="fi fi-br me-2"></span>Real Brasileiro (BRL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="USD" data-type="flag" data-icon="us"><span class="fi fi-us me-2"></span>Dólar Americano (USD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="EUR" data-type="flag" data-icon="eu"><span class="fi fi-eu me-2"></span>Euro (EUR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="GBP" data-type="flag" data-icon="gb"><span class="fi fi-gb me-2"></span>Libra Esterlina (GBP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="JPY" data-type="flag" data-icon="jp"><span class="fi fi-jp me-2"></span>Iene Japonês (JPY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CAD" data-type="flag" data-icon="ca"><span class="fi fi-ca me-2"></span>Dólar Canadense (CAD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AUD" data-type="flag" data-icon="au"><span class="fi fi-au me-2"></span>Dólar Australiano (AUD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CHF" data-type="flag" data-icon="ch"><span class="fi fi-ch me-2"></span>Franco Suíço (CHF)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CNY" data-type="flag" data-icon="cn"><span class="fi fi-cn me-2"></span>Yuan Chinês (CNY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="MXN" data-type="flag" data-icon="mx"><span class="fi fi-mx me-2"></span>Peso Mexicano (MXN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ARS" data-type="flag" data-icon="ar"><span class="fi fi-ar me-2"></span>Peso Argentino (ARS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CLP" data-type="flag" data-icon="cl"><span class="fi fi-cl me-2"></span>Peso Chileno (CLP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="COP" data-type="flag" data-icon="co"><span class="fi fi-co me-2"></span>Peso Colombiano (COP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PEN" data-type="flag" data-icon="pe"><span class="fi fi-pe me-2"></span>Sol do Peru (PEN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="UYU" data-type="flag" data-icon="uy"><span class="fi fi-uy me-2"></span>Peso Uruguaio (UYU)</a></li>
        
        <!-- Outras -->
        <li class="divisor-dropdown">Outras</li>
        <li><a class="dropdown-item" href="#" data-currency="AED" data-type="flag" data-icon="ae"><span class="fi fi-ae me-2"></span>Dirham dos Emirados (AED)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AFN" data-type="flag" data-icon="af"><span class="fi fi-af me-2"></span>Afghani do Afeganistão (AFN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ALL" data-type="flag" data-icon="al"><span class="fi fi-al me-2"></span>Lek Albanês (ALL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AMD" data-type="flag" data-icon="am"><span class="fi fi-am me-2"></span>Dram Armênio (AMD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ANG" data-type="flag" data-icon="cw"><span class="fi fi-cw me-2"></span>Guilder das Antilhas (ANG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AOA" data-type="flag" data-icon="ao"><span class="fi fi-ao me-2"></span>Kwanza Angolano (AOA)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AZN" data-type="flag" data-icon="az"><span class="fi fi-az me-2"></span>Manat Azeri (AZN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BAM" data-type="flag" data-icon="ba"><span class="fi fi-ba me-2"></span>Marco Conversível (BAM)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BBD" data-type="flag" data-icon="bb"><span class="fi fi-bb me-2"></span>Dólar de Barbados (BBD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BDT" data-type="flag" data-icon="bd"><span class="fi fi-bd me-2"></span>Taka de Bangladesh (BDT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BGN" data-type="flag" data-icon="bg"><span class="fi fi-bg me-2"></span>Lev Búlgaro (BGN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BHD" data-type="flag" data-icon="bh"><span class="fi fi-bh me-2"></span>Dinar do Bahrein (BHD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BIF" data-type="flag" data-icon="bi"><span class="fi fi-bi me-2"></span>Franco Burundinense (BIF)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BND" data-type="flag" data-icon="bn"><span class="fi fi-bn me-2"></span>Dólar de Brunei (BND)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BOB" data-type="flag" data-icon="bo"><span class="fi fi-bo me-2"></span>Boliviano (BOB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BSD" data-type="flag" data-icon="bs"><span class="fi fi-bs me-2"></span>Dólar das Bahamas (BSD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BWP" data-type="flag" data-icon="bw"><span class="fi fi-bw me-2"></span>Pula de Botswana (BWP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BYN" data-type="flag" data-icon="by"><span class="fi fi-by me-2"></span>Rublo Bielorrusso (BYN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BZD" data-type="flag" data-icon="bz"><span class="fi fi-bz me-2"></span>Dólar de Belize (BZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CRC" data-type="flag" data-icon="cr"><span class="fi fi-cr me-2"></span>Colón Costarriquenho (CRC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CUP" data-type="flag" data-icon="cu"><span class="fi fi-cu me-2"></span>Peso Cubano (CUP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CVE" data-type="flag" data-icon="cv"><span class="fi fi-cv me-2"></span>Escudo Cabo-Verdiano (CVE)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CZK" data-type="flag" data-icon="cz"><span class="fi fi-cz me-2"></span>Coroa Checa (CZK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DKK" data-type="flag" data-icon="dk"><span class="fi fi-dk me-2"></span>Coroa Dinamarquesa (DKK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DOP" data-type="flag" data-icon="do"><span class="fi fi-do me-2"></span>Peso Dominicano (DOP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DZD" data-type="flag" data-icon="dz"><span class="fi fi-dz me-2"></span>Dinar Argelino (DZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="EGP" data-type="flag" data-icon="eg"><span class="fi fi-eg me-2"></span>Libra Egípcia (EGP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ETB" data-type="flag" data-icon="et"><span class="fi fi-et me-2"></span>Birr Etíope (ETB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="HKD" data-type="flag" data-icon="hk"><span class="fi fi-hk me-2"></span>Dólar de Hong Kong (HKD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="IDR" data-type="flag" data-icon="id"><span class="fi fi-id me-2"></span>Rupia Indonésia (IDR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ILS" data-type="flag" data-icon="il"><span class="fi fi-il me-2"></span>Novo Shekel Israelense (ILS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="INR" data-type="flag" data-icon="in"><span class="fi fi-in me-2"></span>Rúpia Indiana (INR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="KRW" data-type="flag" data-icon="kr"><span class="fi fi-kr me-2"></span>Won Sul-Coreano (KRW)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="NOK" data-type="flag" data-icon="no"><span class="fi fi-no me-2"></span>Coroa Norueguesa (NOK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="NZD" data-type="flag" data-icon="nz"><span class="fi fi-nz me-2"></span>Dólar Neozelandês (NZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PLN" data-type="flag" data-icon="pl"><span class="fi fi-pl me-2"></span>Zlóti Polonês (PLN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PYG" data-type="flag" data-icon="py"><span class="fi fi-py me-2"></span>Guarani Paraguaio (PYG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RON" data-type="flag" data-icon="ro"><span class="fi fi-ro me-2"></span>Leu Romeno (RON)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUB" data-type="flag" data-icon="ru"><span class="fi fi-ru me-2"></span>Rublo Russo (RUB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SEK" data-type="flag" data-icon="se"><span class="fi fi-se me-2"></span>Coroa Sueca (SEK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SGD" data-type="flag" data-icon="sg"><span class="fi fi-sg me-2"></span>Dólar de Cingapura (SGD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="THB" data-type="flag" data-icon="th"><span class="fi fi-th me-2"></span>Baht Tailandês (THB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="TRY" data-type="flag" data-icon="tr"><span class="fi fi-tr me-2"></span>Nova Lira Turca (TRY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="UAH" data-type="flag" data-icon="ua"><span class="fi fi-ua me-2"></span>Hryvinia Ucraniana (UAH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ZAR" data-type="flag" data-icon="za"><span class="fi fi-za me-2"></span>Rand Sul-Africano (ZAR)</a></li>

        <!-- Variações BR -->
        <li class="divisor-dropdown">Variações BR</li>
        <li><a class="dropdown-item" href="#" data-currency="BRLT" data-type="flag" data-icon="br"><span class="fi fi-br me-2"></span>Real Brasileiro - Turismo (BRLT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BRLPTAX" data-type="flag" data-icon="br"><span class="fi fi-br me-2"></span>Real Brasileiro - PTAX (BRLPTAX)</a></li>

        <!-- Offshore / derivados -->
         <li class="divisor-dropdown">Offshore / Derivados</li>
        <li><a class="dropdown-item" href="#" data-currency="CNH" data-type="flag" data-icon="cn"><span class="fi fi-cn me-2"></span>Yuan Chinês Offshore (CNH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="JPYRTS" data-type="flag" data-icon="jp"><span class="fi fi-jp me-2"></span>Iene Japonês - RTS (JPYRTS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CHFRTS" data-type="flag" data-icon="ch"><span class="fi fi-ch me-2"></span>Franco Suíço - RTS (CHFRTS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUBTOD" data-type="flag" data-icon="ru"><span class="fi fi-ru me-2"></span>Rublo Russo - TOD (RUBTOD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUBTOM" data-type="flag" data-icon="ru"><span class="fi fi-ru me-2"></span>Rublo Russo - TOM (RUBTOM)</a></li>

        <!-- Criptomoedas -->
         <li class="divisor-dropdown">Criptomoedas</li>
        <li><a class="dropdown-item" href="#" data-currency="BTC" data-type="img" data-icon="/images/bitcoin.png"><img src="/images/bitcoin.png" alt="bitcoin crypto icon" class="crypto-icon">Bitcoin (BTC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ETH" data-type="img" data-icon="/images/ethereum.png"><img src="/images/ethereum.png" alt="ethereum crypto icon" class="crypto-icon">Ethereum (ETH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="USDT" data-type="img" data-icon="/images/tether.png"><img src="/images/tether.png" alt="tether crypto icon" class="crypto-icon">Tether (USDT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XRP" data-type="img" data-icon="/images/xrp.png"><img src="/images/xrp.png" alt="xrp crypto icon" class="crypto-icon">XRP (XRP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="LTC" data-type="img" data-icon="/images/litecoin.png"><img src="/images/litecoin.png" alt="litecoin crypto icon" class="crypto-icon">Litecoin (LTC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DOGE" data-type="img" data-icon="/images/dogecoin.png"><img src="/images/dogecoin.png" alt="dogecoin crypto icon" class="crypto-icon">Dogecoin (DOGE)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SOL" data-type="img" data-icon="/images/solana.png"><img src="/images/solana.png" alt="solana crypto icon" class="crypto-icon">Solana (SOL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BNB" data-type="img" data-icon="/images/binance.png"><img src="/images/binance.png" alt="binance crypto icon" class="crypto-icon">Binance Coin (BNB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BRETT" data-type="img" data-icon="/images/brett.png"><img src="/images/brett.png" alt="brett crypto icon" class="crypto-icon">Brett (BRETT)</a></li>

        <!-- Commodities / índices -->
         <li class="divisor-dropdown">Commodities / Índices</li>
        <li><a class="dropdown-item" href="#" data-currency="XAU" data-type="emoji" data-icon="🟡">🟡 Ouro (XAU)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XAG" data-type="emoji" data-icon="⚪">⚪ Prata Spot (XAG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XAGG" data-type="emoji" data-icon="⚪">⚪ Prata (XAGG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XBR" data-type="emoji" data-icon="🛢️">🛢️ Brent Spot (XBR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SDR" data-type="emoji" data-icon="🏦">🏦 DSE (SDR)</a></li>
    </ul>

</div>