<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle botao-moeda" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecione uma moeda
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" data-currency="AED"><span class="fi fi-ae me-2"></span>Dirham dos Emirados (AED)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AFN"><span class="fi fi-af me-2"></span>Afghani do Afeganistão (AFN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ALL"><span class="fi fi-al me-2"></span>Lek Albanês (ALL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AMD"><span class="fi fi-am me-2"></span>Dram Armênio (AMD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ANG"><span class="fi fi-cw me-2"></span>Guilder das Antilhas (ANG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AOA"><span class="fi fi-ao me-2"></span>Kwanza Angolano (AOA)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ARS"><span class="fi fi-ar me-2"></span>Peso Argentino (ARS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AUD"><span class="fi fi-au me-2"></span>Dólar Australiano (AUD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="AZN"><span class="fi fi-az me-2"></span>Manat Azeri (AZN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BAM"><span class="fi fi-ba me-2"></span>Marco Conversível (BAM)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BBD"><span class="fi fi-bb me-2"></span>Dólar de Barbados (BBD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BDT"><span class="fi fi-bd me-2"></span>Taka de Bangladesh (BDT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BGN"><span class="fi fi-bg me-2"></span>Lev Búlgaro (BGN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BHD"><span class="fi fi-bh me-2"></span>Dinar do Bahrein (BHD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BIF"><span class="fi fi-bi me-2"></span>Franco Burundinense (BIF)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BND"><span class="fi fi-bn me-2"></span>Dólar de Brunei (BND)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BOB"><span class="fi fi-bo me-2"></span>Boliviano (BOB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BRL"><span class="fi fi-br me-2"></span>Real Brasileiro (BRL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BSD"><span class="fi fi-bs me-2"></span>Dólar das Bahamas (BSD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BWP"><span class="fi fi-bw me-2"></span>Pula de Botswana (BWP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BYN"><span class="fi fi-by me-2"></span>Rublo Bielorrusso (BYN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BZD"><span class="fi fi-bz me-2"></span>Dólar de Belize (BZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CAD"><span class="fi fi-ca me-2"></span>Dólar Canadense (CAD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CHF"><span class="fi fi-ch me-2"></span>Franco Suíço (CHF)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CLP"><span class="fi fi-cl me-2"></span>Peso Chileno (CLP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CNY"><span class="fi fi-cn me-2"></span>Yuan Chinês (CNY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="COP"><span class="fi fi-co me-2"></span>Peso Colombiano (COP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CRC"><span class="fi fi-cr me-2"></span>Colón Costarriquenho (CRC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CUP"><span class="fi fi-cu me-2"></span>Peso Cubano (CUP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CVE"><span class="fi fi-cv me-2"></span>Escudo Cabo-Verdiano (CVE)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CZK"><span class="fi fi-cz me-2"></span>Coroa Checa (CZK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DKK"><span class="fi fi-dk me-2"></span>Coroa Dinamarquesa (DKK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DOP"><span class="fi fi-do me-2"></span>Peso Dominicano (DOP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DZD"><span class="fi fi-dz me-2"></span>Dinar Argelino (DZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="EGP"><span class="fi fi-eg me-2"></span>Libra Egípcia (EGP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ETB"><span class="fi fi-et me-2"></span>Birr Etíope (ETB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="EUR"><span class="fi fi-eu me-2"></span>Euro (EUR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="GBP"><span class="fi fi-gb me-2"></span>Libra Esterlina (GBP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="HKD"><span class="fi fi-hk me-2"></span>Dólar de Hong Kong (HKD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="IDR"><span class="fi fi-id me-2"></span>Rupia Indonésia (IDR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ILS"><span class="fi fi-il me-2"></span>Novo Shekel Israelense (ILS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="INR"><span class="fi fi-in me-2"></span>Rúpia Indiana (INR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="JPY"><span class="fi fi-jp me-2"></span>Iene Japonês (JPY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="KRW"><span class="fi fi-kr me-2"></span>Won Sul-Coreano (KRW)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="MXN"><span class="fi fi-mx me-2"></span>Peso Mexicano (MXN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="NOK"><span class="fi fi-no me-2"></span>Coroa Norueguesa (NOK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="NZD"><span class="fi fi-nz me-2"></span>Dólar Neozelandês (NZD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PEN"><span class="fi fi-pe me-2"></span>Sol do Peru (PEN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PLN"><span class="fi fi-pl me-2"></span>Zlóti Polonês (PLN)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="PYG"><span class="fi fi-py me-2"></span>Guarani Paraguaio (PYG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RON"><span class="fi fi-ro me-2"></span>Leu Romeno (RON)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUB"><span class="fi fi-ru me-2"></span>Rublo Russo (RUB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SEK"><span class="fi fi-se me-2"></span>Coroa Sueca (SEK)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SGD"><span class="fi fi-sg me-2"></span>Dólar de Cingapura (SGD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="THB"><span class="fi fi-th me-2"></span>Baht Tailandês (THB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="TRY"><span class="fi fi-tr me-2"></span>Nova Lira Turca (TRY)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="UAH"><span class="fi fi-ua me-2"></span>Hryvinia Ucraniana (UAH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="USD"><span class="fi fi-us me-2"></span>Dólar Americano (USD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="UYU"><span class="fi fi-uy me-2"></span>Peso Uruguaio (UYU)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ZAR"><span class="fi fi-za me-2"></span>Rand Sul-Africano (ZAR)</a></li>

        <!-- Variações BR -->
        <li><a class="dropdown-item" href="#" data-currency="BRLT"><span class="fi fi-br me-2"></span>Real Brasileiro - Turismo (BRLT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BRLPTAX"><span class="fi fi-br me-2"></span>Real Brasileiro - PTAX (BRLPTAX)</a></li>

        <!-- Offshore / derivados -->
        <li><a class="dropdown-item" href="#" data-currency="CNH"><span class="fi fi-cn me-2"></span>Yuan Chinês Offshore (CNH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="JPYRTS"><span class="fi fi-jp me-2"></span>Iene Japonês - RTS (JPYRTS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="CHFRTS"><span class="fi fi-ch me-2"></span>Franco Suíço - RTS (CHFRTS)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUBTOD"><span class="fi fi-ru me-2"></span>Rublo Russo - TOD (RUBTOD)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="RUBTOM"><span class="fi fi-ru me-2"></span>Rublo Russo - TOM (RUBTOM)</a></li>

        <!-- Criptos / Commodities (sem bandeira oficial) -->
        <li><a class="dropdown-item" href="#" data-currency="BTC"><img src="/images/bitcoin.png" alt="bitcoin crypto icon" class="crypto-icon">Bitcoin (BTC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="ETH"><img src="/images/ethereum.png" alt="ethereum crypto icon" class="crypto-icon">Ethereum (ETH)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="USDT"><img src="/images/tether.png" alt="tether crypto icon" class="crypto-icon">Tether (USDT)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XRP"><img src="/images/xrp.png" alt="xrp crypto icon" class="crypto-icon">XRP (XRP)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="LTC"><img src="/images/litecoin.png" alt="litecoin crypto icon" class="crypto-icon">Litecoin (LTC)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="DOGE"><img src="/images/dogecoin.png" alt="dogecoin crypto icon" class="crypto-icon">Dogecoin (DOGE)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SOL"><img src="/images/solana.png" alt="solana crypto icon" class="crypto-icon">Solana (SOL)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BNB"><img src="/images/binance.png" alt="binance crypto icon" class="crypto-icon">Binance Coin (BNB)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="BRETT"><img src="/images/brett.png" alt="brett crypto icon" class="crypto-icon">Brett (BRETT)</a></li>

        <li><a class="dropdown-item" href="#" data-currency="XAU">🟡 Ouro (XAU)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XAG">⚪ Prata Spot (XAG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XAGG">⚪ Prata (XAGG)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="XBR">🛢️ Brent Spot (XBR)</a></li>
        <li><a class="dropdown-item" href="#" data-currency="SDR">🏦 DSE (SDR)</a></li>
    </ul>

</div>