<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conversor de Moedas</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <main class="caixa-principal">
            <section class="container">
                <div class="titulo">
                    <h1>Conversor de Moedas</h1>
                    <h4>~ by Anderson Luis ~</h4>
                </div>
                
                <div class="entradas">
                    <div class="de">
                        <label for="moeda">De</label>
                        <%- include('partials/opcoes-de-moeda') %>

                        <label for="valor-a-converter"></label>
                        <input type="number" class="form-control caixa-texto" id="valor-a-converter" name="valor-a-converter" placeholder="0" />
                    
                        <ul class="resultado">
                            <li class="taxa-conversao"></li>
                            <li class="variacao"></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-secondary botao-swap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"></path>
                        </svg>
                    </button>

                    <div class="para">
                        <label for="moeda">Para</label>
                        <%- include('partials/opcoes-de-moeda') %>

                        <label for="valor-convertido"></label>
                        <input type="number" class="form-control caixa-texto" id="valor-convertido" name="valor-convertido" placeholder="0" readonly/>
                    
                        <ul class="resultado">
                            <li class="recomendacao">RECOMENDAÇÃO</li>
                        </ul>
                    </div>
                </div>

            </section>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="/js/dropdown-moeda.js"></script>
        <script src="/js/botao-swap.js"></script>
        <script src="/js/cotacao.js"></script>
        <script src="/js/conversao.js"></script>
    </body>
</html>