html, body {
    height: 100%;
    margin: 0;
}

.caixa-principal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    background: linear-gradient(90deg,rgba(217, 217, 217, 1) 0%, rgba(241, 239, 239, 1) 80%, rgba(217, 217, 217, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    width: 420px;
    padding: 24px;
    border-radius: 16px;
    font-family: "Google Sans Flex", sans-serif;
}

.de, .para {
    display: flex;
    flex-direction: column;
}

.entradas {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    place-items: center;
    padding: 12px;
}

li {
    list-style-type: none;
}

.container h1 {
    font-weight: 100;
}

.container h4 {
    font-weight: 10;
    font-size: 16px;
}

.titulo {
    text-align: center;
    padding: 24px;
}

#moeda {
    width: 512px;
}

#valor-a-converter, #valor-convertido {
    width: 512px;
    height: 256px;
    font-size: 64px;
    font-weight: 200;
}

.botao-swap {
    width: 64px;
    height: 64px;
}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.crypto-icon {
    width: 21.33px;
    margin-right: 8px;
}

.dropdown-menu {
    max-height: 256px;
    overflow-y: scroll;
}

.botao-moeda, .dropdown-menu {
    width: 512px;
}
