.caixa-principal {
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.de, .para {
    display: flex;
    flex-direction: column;
}

.entradas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
}
